/*
  main.css
  Isolation Round-Robin Telecom App
  Wyoming Technology Coronavirus Coalition
*/

/*
  Stylistic definitions that should affect EVERY page in the app


  Table of Contents
  =================
  1.) General User Interface Features
*/

html, body
{
  width: 100%;
  height: 100%;
}


/*
  1.) General User Interface Features
*/

/* NOTE: Lazily Placed */
.centerPrompt
{
  position: fixed;
  left: 40%;
  top: 35%;
}






