/*
  main.css
  Isolation Round-Robin Telecom App
  Wyoming Technology Coronavirus Coalition
*/

/*
  Stylistic definitions that should affect EVERY page in the app


  Table of Contents
  =================
  1.) General User Interface Features
*/

html, body
{
  width: 100%;
  height: 100%;
}


/*
  1.) General User Interface Features
*/


/* General Form */
.appForm
{
  padding: 2ex;
  border-radius: 3ex;
  background-color: rgba(0, 0, 0, .3);
}

.appFormLine
{
  padding-bottom: .5ex;
}



